@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.section-01 {
    width: 1428px;
    height: 111px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 23px;
    margin-bottom: 90px;
}

.section-01 .inner {
    line-height: 22px;
 }

.section-01 .inner .list .nav_area {
    width: 468px;
    height: 22px;
    display: flex;
    justify-content: space-between;
}

.section-01 .inner .list .nav_area .logo {
    font-size: 25px;
}

.section-01 .inner .list .nav_area .top_nav {
    width: 298px;
    height: 20px;
}

.section-01 .inner .list .nav_area .top_nav ul {
    display: flex;
    justify-content: space-between;
    color: #716d60;
}

.section-01 .inner .list .item {
    width: 496px;
    height: 23px;
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.section-01 .inner .list .item .nav_btn {
    width: 25px;
    height: 23px;
}

.section-01 .inner .list .item .nav_btn img {
    width: 100%;
    height: 100%;
}

.section-01 .inner .list .item .nav {
    width: 375px;
    height: 21px;
}

.section-01 .inner .list .item .nav ul {
    display: flex;
    gap: 20px;
}

.section-01 .util_area {
    width: 424px;
    height: 73px;
}

.section-01 .util_area .user ul {
    display: flex;
    gap: 30px;
}

.section-01 .util_area .user ul li {
    color: #716d60;
}

.section-02 {
    margin: 0 auto;
}

.section-02 .swiper-wrapper .swiper-slide {
    display: flex;
    gap: 15px;
}

.section-02 .swiper-wrapper .swiper-slide img {
    position: relative;
    width: 100%;
    height: 460px;
    display: flex;
    justify-content: space-between;
    object-fit: cover;
}

.section-03 .title {
    font-size: 30px;
    text-align: center;
    margin-top: 104px;
    margin-bottom: 107px;
}

.section-04 {
    width: 1441px;
    margin: 0 auto;
    margin-top: 107px;
    margin-bottom: 106px;
}

.section-04 .title {
    font-size: 23px;
    margin-bottom: 20px;
}

.section-04 .list {
    display: flex;
}

.section-04 .list .item {
    margin: 0px auto;
    margin-top: 20px;
    gap: 20px;
}

.section-04 .list .item img {
    width: 463px;
    height: 659px;
}

.section-04 .list .item .text strong {
    font-size: 24px;
    font-weight: bold;
}

.section-04 .list .item .text p {
    font-size: 15px;
    font-weight: light;
}

.section-05 {
    width: 1440px;
    margin: 0 auto;
    margin-top: 107px;
    margin-bottom: 230px;
}

.section-05 .inner {
    width: 100%;
}

.section-05 .inner .text {
    font-size: 16px;
    margin-bottom: 30px;
}

.section-05 .inner .text h3 {
    font-size: 32px;
    margin-bottom: 19px;
}

.section-05 .inner .text ul {
    display: flex;
    width: 300px;
    gap: 20px;
}

.section-05 .inner .text ul li {
    width: 87px;
    height: 30px;
    text-align: center;
    border: 1px solid #d9d9d9;
    border-radius: 30px;
}

.section-05 .inner .text ul li.active {
    background-color: #171616;
    color: #ffffff;
}

.section-05 .inner .list {
    width: 1441px;
    display: flex;
    justify-content: space-between;
}

.section-05 .inner .list .item {
    width: 342px;
    height: 621px;
}

.section-05 .inner .list .item img.item-img {
    width: 100%;
    height: 521px;
}

.section-05 .inner .list .item .made {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.section-05 .inner .list .item .made .text strong {
    font-size: 18px;
}

.section-05 .inner .list .item .made .text p {
    font-size: 16px;
}

.section-05 .inner .list .item .made .text .mate {
    display: flex;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
}

.section-05 .inner .list .item .made .text .mate span {
    color: #FF4600;
}

.section-06 {
    width: 1440px;
    height: 475px;
    margin: 240px auto;
    margin-top: 107px;
    margin-bottom: 137px;
}

.section-06 .inner .text {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    font-size: 20px;
    margin-bottom: 75px;
}

.section-06 .inner .text .text-01 {
    display: flex;
    align-items: center;
    gap: 31px;
}

.section-06 .inner .text .text-02 {
    display: flex;
    align-items: center;
}

.section-06 .inner .text .text-03 {
    display: flex;
    align-items: center;
}

.section-06 .inner .text .text-01 h4 {
    font-size: 32px;
}

.section-06 .inner .text .text-02 span {
    font-size: 20px;
}

.section-06 .inner .class .class-01 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-06 .inner .class .class-02 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-07 {
    width: 1920px;
    height: 647px;
    background-color: #000000;
    padding: 80px auto;
    position: relative;
}

.section-07 .list {
    margin: 0 auto;
    width: 1440px;
}

.section-07 .list .text {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

.section-07 .list .text span {
    font-size: 32px;
    margin-top: 80px;
    margin-bottom: 75px;
}

.section-07 .list .text p {
    font-size: 20px;
    margin-top: 87px;
    margin-bottom: 82px;
}

.section-07 .list .swiper {
    position: static;
}

.section-07 .list .swiper-wrapper .swiper-slide {
    position: relative;
    height: 315px;
}

.section-07 .list .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-07 .list .swiper-wrapper .swiper-slide .text_area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section-07 .list .swiper-wrapper .swiper-slide .text_area >span {
    width: 40px;
    font-size: 14px;
    font-weight: light;
    border-radius: 30px;
    background-color: rgba(34, 34, 34, 0.281);
    color: #fef9f9;
}

.section-07 .list .swiper-wrapper .swiper-slide .text_area .text {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: block;
}

.section-07 .list .swiper-wrapper .swiper-slide .text_area .text strong {
    font-size: 15px;
    color: #fef9f9;
    display: block;
}

.section-07 .list .swiper-wrapper .swiper-slide .text_area .text span {
    font-size: 11px;
    color: #fef9f9;
    display: block;
    margin: 0;
}

.section-07 .list .swiper-button-prev {
    color: #fef9f9;
}

.section-07 .list .swiper-button-prev:after {
    font-size: 25px;
    margin-left: 350px;
    margin-top: 50px;
}

.section-07 .list .swiper-button-next {
    color: #fef9f9;
}

.section-07 .list .swiper-button-next:after {
    font-size: 25px;
    margin-right: 350px;
    margin-top: 50px;
}

.section-07 .swiper-horizontal.swiper-pagination-bullets,
.section-07 .swiper-pagination-bullets.swiper-pagination-horizontal,
.section-07 .swiper-pagination-custom,
.section-07 .swiper-pagination-fraction {
    bottom: 50px;
    color: #fef9f9;
}

.section-08 {
    margin: 121px auto;
    margin-top: 121px;
    margin-left: 240px;
    margin-right: 240px;
    display: flex;
    align-items: center;
}

.section-08 .list {
    width: 1445px;
    height: 283px;
}

.section-08 .list .title {
    width: 346px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.section-08 .list .title strong {
    font-size: 16px;
    font-weight: bold;
}

.section-08 .list .title-01 {
    position: absolute;
    margin-top: 121px;
}

.section-08 .list .title-01 .text {
    width: 241px;
    display: flex;
    align-items: center;
}

.section-08 .list .title-01 .text-01 {
    width: 100%;
    display: flex;
}

.section-08 .list .title-01 .item-01 {
    width: 28px;
    height: 30px;
}

.section-08 .list-01 {
    position: relative;
    width: 687px;
    height: 240px;
    margin: 0 auto;
    margin-bottom: 50px;

}

.section-08 .list-01 .text-02 {
    width: 100%;
    height: 180px;
    margin-bottom: 50px;
    align-items: center;
}

.section-08 .list-01 .text-02 strong {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.section-08 .list-01 .text-02 p {
    font-size: 13px;
    font-weight: light;
    color: #534b4b;
}

.section-08 .list-01 .text-03 {
    width: 100%;
    height: 78px;
    align-items: center;
    margin-top: 38px;
}

.section-08 .list-01 .text-03 strong {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.section-08 .list-01 .text-03 p {
    font-size: 13px;
    font-weight: light;
    color: #534b4b;
}